{% load static %}
<html>
  <head>
    <title>Create Ride</title>
  </head>
  <body>
    <h2>Add New Ride</h2>
    <a href="admin_activity">Back to list of rides</a>

    <form action="{% url 'create_activity' %}" method="post">
      {% csrf_token %}
      Activity Name
      <div class="form-group">
        <input
          class="form-control"
          autofocus
          type="text"
          name="activity_name"
          placeholder="Start Point Name"
        />
      </div>
      Category
      <div class="form-group">

        <div class="form-group">
          <select id="category" name="category">
            {% for category in categories %}
              <option value= "{{category.0}}" >{{category.0}}</option>
            {% endfor %} 
          
          </select>
  
        </div>
      </div>
      Start Date and Time
      <div class="form-group">
        <input
          class="form-control"
          type="datetime-local"
          name="start_date_time"
        />
      </div>
      Venue
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="venue"
          placeholder="Venue"
        />
      </div>
      Capacity
      <div class="form-group">
        <input class="form-control" type="number" name="capacity" min="2" max ="6" placeholder="Capacity (between 2 to 6)"/>
      </div>
      <input class="btn btn-primary" type="submit" value="Create Ride" />
    </form>
  </body>
</html>

